*

!.gitignore
!.cproject
!.nedexclusions
!.nedfolders
!.oppbuildspec
!.project
!.settings/language.settings.xml
!Makefile

!src/
!src/DelayBasedForwarding/
!src/DelayBasedForwarding/*

!simulations/
!simulations/*.ini
!simulations/*.ned
!simulations/udpclientserver/
!simulations/udpclientserver/*.ini
!simulations/udpclientserver/*.ned

!src/linklayer/
!src/linklayer/contract/
!src/linklayer/contract/randomdropheader/
!src/linklayer/contract/randomdropheader/*.msg
!src/linklayer/contract/randomdropheader/*.cc
!src/linklayer/contract/randomdropheader/*.h
